# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.create-modular-game-architecture-in-unity-with-scriptableobjects.iml
# Editor-based HTTP Client requests
/httpRequests/
